.register-form,
.login-form {
  border: 2px solid rgb(48, 58, 69);
  border-radius: 5px;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

.register-form button,
.login-form button {
  font-size: 1.4rem;
}

.register-form label,
.login-form label {
  left: 10%;
  font-size: 1.4rem;
  margin: 1rem;
}

.register-form input,
.login-form input {
  width: 80%;
  margin: 1rem;
}

@media screen and (max-width: 800px) {
  .register-form,
  .login-form {
    width: 80%;
    margin-left: 10%;
  }

  .register-form input,
  .login-form input {
    width: 80%;
    margin: 1rem;
  }
  .register-form button {
    font-size: 1rem;
    width: auto;
    margin: 2rem auto;
  }

  .login-form button {
    font-size: 1.3rem;
    width: 10rem;
    /* width: auto;
    margin: 2rem auto; */
  }

  .jto-notification {
    width: 15rem;
  }

  .jto-notification .close-button {
    position: absolute;
    top: -3rem;
    right: -3rem;
    font-size: 1.5rem;
    background: rgba(47, 58, 68);
    color: white;
    margin: 2rem;
  }
  .jto-notification .close-button {
    width: 2rem;
    height: 2rem;
    z-index: 2;
    border: none;
    border-radius: 50%;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
  }
}
