@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Gaegu|Nanum+Pen+Script|Permanent+Marker|Roboto|Shadows+Into+Light+Two|Tangerine&display=swap");

.public-card-page {
  background-color: #b6a99e;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.pg {
  width: 500px;
  height: 700px;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pg h2 {
  font-size: 30px;
  text-align: center;
}

.pg p {
  font-size: 20px;
  text-align: center;
}

.pg img {
  margin: auto;
  max-width: 500px;
  max-height: 600px;
}

.menu_option > a {
  color: black;
}

.jto-dot-menu .jto_option {
  color: black;
}

.comment-toggle:not(:checked) + .comment-menu-container .dot-menu-option {
  display: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.comment-toggle:checked + .comment-menu-container .dot-menu-option {
  display: block;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.jto-comments,
.jto-reactions,
.add-comment-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.add-comment-btn button {
  width: 30%;
  height: 2rem;
}

.jto-reactions button,
.jto-reactions .far,
.jto-reactions .fa-file-download,
.jto-reactions .heart-button {
  margin: 1rem 3rem;
}
