/* @import url("https://fonts.googleapis.com/css?family=Amatic+SC|Cutive+Mono|Gaegu|Nanum+Pen+Script|Permanent+Marker|Roboto|Shadows+Into+Light+Two|Tangerine&display=swap"); */
 
.public-card-page {
  background-color: #b6a99e;
  margin: 0;
  padding: 0;
}

h3 {
  text-align: center;
}

.pg {
  width: 500px;
  height: 700px;
  padding: 15px;
  margin: 20px auto;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pg h2 {
  font-size: 30px;
  text-align: center;
}

.pg p {
  font-size: 20px;
  text-align: center;
}

.pg img {
  margin: auto;
  max-width: 500px;
  max-height: 600px;
}

.menu_option > a {
  color: black;
}

.jto-dot-menu .jto_option {
  color: black;
}

.jto-dot-menu {
  /* background: #2f3a44; */
  background: linear-gradient(to bottom 33% rgb(255, 255, 255, 0), 66% #2f3a44);
}

/* .openMenu {
  -o-animation: openDown 0.6s;
  -moz-animation: openDown 0.6s;
  -webkit-animation: openDown 0.6s;
  animation: openDown 0.6s;
} */

.comment-toggle:not(:checked) + .comment-menu-container .dot-menu-option {
  display: none;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.comment-toggle:checked + .comment-menu-container .dot-menu-option {
  display: block;
  position: relative;
  padding: 0.5rem;
  background: #2f3a44;
  top: 1rem;
  color: rgba(255, 255, 255, 0.7);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -o-animation: openDown 0.1s;
  -moz-animation: openDown 0.1s;
  -webkit-animation: openDown 0.1s;
  animation: openDown 0.1s;
  -o-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.comment-toggle:checked + .comment-menu-container .dot-menu-option:hover {
  color: rgba(255, 255, 255);
}

.comment-toggle:checked + .comment-menu-container .dot-menu-option:nth-child(3) {
  -o-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.jto-comments,
.jto-reactions,
.add-comment-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.jto-comments {
  border: 2px solid black;
}

.jto-comment {
  border: 2px solid black;
  margin: 2rem;
  width: 40rem;
  list-style-type: none;
  -o-animation: fadeInUp 0.6s;
  -moz-animation: fadeInUp 0.6s;
  -webkit-animation: fadeInUp 0.6s;
  animation: fadeInUp 0.6s;
}

.comment-items {
  position: relative;
}

.jto-dot-menu {
  position: absolute;
  top: -1rem;
  right: 1rem;
}

.comment-toggle {
  display: none;
  width: 2rem;
  height: 1.5rem;
}

.fa-ellipsis-h {
  position: absolute;
  right: 1.5rem;
  color: #2f3a44;
}

.comment-item {
  width: 50%;
}

.add-comment-btn button {
  width: 30%;
  height: 2rem;
}

.jto-reactions button,
.jto-reactions .far,
.jto-reactions .fa-file-download,
.jto-reactions .heart-button {
  margin: 1rem 3rem;
}

@-webkit-keyframes openDown {
  0% {
    -webkit-transform: scaleY(0);
  }
  50% {
    -webkit-transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
  }
}

@-moz-keyframes openDown {
  0% {
    -moz-transform: scaleY(0);
  }
  50% {
    -moz-transform: scaleY(0.5);
  }
  100% {
    -moz-transform: scaleY(1);
  }
}

@-o-keyframes openDown {
  0% {
    -o-transform: scaleY(0);
  }
  50% {
    -o-transform: scaleY(0.5);
  }
  100% {
    -o-transform: scaleY(1);
  }
}

@keyframes openDown {
  0% {
    transform-origin: top;
    transform: scaleY(0);
  }
  50% {
    transform-origin: top;
    transform: scaleY(0.5);
  }
  100% {
    transform-origin: top;
    transform: scaleY(1);
  }
}
