.private-cards {
  background-color: #0060a4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23fffdfa' fill-opacity='0.13'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin: 1px;
  padding-bottom: 20vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 50px;
}

.list-card {
  padding: 100px;
}
.card-container {
  display: block;
  width: 180px;
  height: 240px;
  position: relative;
  perspective: 700;
  -webkit-perspective: 700;
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card-toggle {
  display: block;
  position: relative;
  top: -1%;
  left: 40%;
  opacity: 0;
  height: 2em;
  width: 2em;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkmark {
  border-radius: 50%;
  position: absolute;
  top: -25%;
  left: 40%;
  height: 2.5em;
  width: 2.5em;
  background-color: rgba(126, 119, 113, 0);
  border: 1px solid rgba(126, 119, 113, 0);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.checkmark:after {
  display: block;
  left: 30%;
  top: 5%;
  width: 30%;
  height: 60%;
  border: solid rgb(223, 233, 243);
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-toggle:not(:checked) + .card-container .checkmark,
.card-toggle:not(:checked) + .card-container .jto-mini-menu {
  opacity: 0;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:checked + .card-container .checkmark,
.card-toggle:not(:checked) + .card-container .jto-mini-menu .jto-option {
  opacity: 1;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:hover .face {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:hover .front {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0.5px 0 0 rgba(49, 47, 47, 0.349);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(41, 39, 39, 0.1);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.jto-mini-menu {
  position: relative;
  top: 110%;
  left: -55%;
  width: 200%;
  padding: 5%;
  display: flex;
  background: rgb(48, 58, 69, 1);
  border-radius: 10px;
  justify-content: space-evenly;
}

.menu-option > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-option:hover > a {
  color: rgba(255, 255, 255);
  font-weight: bolder;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.front {
  width: 180px;
  height: 242px;
  background: rgb(248, 245, 245);
  box-shadow: 5px 3px 10px rgba(49, 47, 47, 0.349);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.front p,
.inner-left p {
  margin: 10px;
}

.inner-left {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.front > img {
  padding: 15%;
  height: 130px;
  width: 130px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -moz-backface-visibility: visible;
}

.inner-right > img {
  width: 180px;
  height: 240px;
}

.inner-left > img {
  width: 180px;
  height: 240px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inner-right {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}

.card-container:hover .front,
.card-container:hover .inner-left {
  -webkit-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
}

.card-toggle:checked + .card-container .front img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-toggle:checked + .card-container .front,
.card-toggle:checked + .card-container .inner-left {
  box-shadow: -15px 5px 10px rgba(49, 47, 47, 0.349);
  border-right: none;
  -webkit-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
  z-index: 1;
}

.card-toggle:checked + .card-container .inner-right {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
  border-left: 1px solid rgba(247, 244, 244, 0.1);
  box-shadow: 10px 5px 5px rgba(49, 47, 47, 0.349);
}

.card-toggle:checked + .card-container .face {
  margin-left: 90px;
}

@media screen and (max-width: 1120px) {
  .private-cards {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .private-cards {
    grid-template-columns: 1fr;
  }
  .front > img {
    display: none;
  }
  .card-toggle:checked + .card-container .face {
    margin-left: 90px;
  }
}
