.jto-cards {
  background-color: rgb(232, 201, 155);
  background-image: linear-gradient(315deg, rgb(232, 201, 155) 0%, rgb(232, 188, 133) 74%);
  border: 30px solid rgb(139, 114, 75);
  border-image-repeat: linear-gradient(315deg, rgb(114, 93, 62) 0%, rgb(88, 69, 40) 74%);
  box-shadow: 0 0 1px 1px rgb(139, 114, 75, 0.8);
  margin: 1px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.list-card {
  padding: 100px;
}

.card-toggle {
  display: none;
}

.card-container {
  display: block;
  width: 180px;
  height: 240px;
  position: relative;
  perspective: 700;
  -webkit-perspective: 700;
  margin: auto;
  cursor: pointer;
}

.card-container:hover .face {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:hover .front {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0.5px 0 0 rgba(49, 47, 47, 0.349);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(41, 39, 39, 0.1);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.jto-options-menu {
  position: relative;
  top: -40px;
  width: 100%;
  border: 2px solid black;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.jto-options-menu > .menu-option {
  visibility: hidden;
}

.jto-options-menu:hover {
  text-align: none;
  grid-template-columns: repeat(auto-fill, minmax(33.33%, 1fr));
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.jto-options-menu:hover > .menu-option {
  visibility: visible;
}

/* .jto-options-menu > .menu-option {
  visibility: hidden;
}

.jto-options-menu:active > * {
  visibility: visible;
} */

.front {
  width: 180px;
  height: 242px;
  background: rgb(248, 245, 245);
  box-shadow: 5px 3px 10px rgba(49, 47, 47, 0.349);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.front p,
.inner-left p {
  margin: 10px;
}

.inner-left {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.front > img {
  padding: 15%;
  height: 130px;
  width: 130px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -moz-backface-visibility: visible;
}

.inner-right > img {
  width: 180px;
  height: 240px;
}

.inner-left > img {
  width: 180px;
  height: 240px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inner-right {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}

.card-container:hover .front,
.card-container:hover .inner-left {
  -webkit-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
}

.card-toggle:checked + .card-container .front img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-toggle:checked + .card-container .front,
.card-toggle:checked + .card-container .inner-left {
  box-shadow: -15px 5px 10px rgba(49, 47, 47, 0.349);
  border-right: none;
  -webkit-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
  z-index: 1;
}

.card-toggle:checked + .card-container .inner-right {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
  border-left: 1px solid rgba(247, 244, 244, 0.1);
  box-shadow: 10px 5px 5px rgba(49, 47, 47, 0.349);
}

.card-toggle:checked + .card-container .face {
  margin-left: 90px;
}

@media screen and (max-width: 1120px) {
  .jto-cards {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .jto-cards {
    grid-template-columns: 1fr;
  }
  .front > img {
    display: none;
  }
  .card-toggle:checked + .card-container .face {
    margin-left: 90px;
  }
}
