.public-cards {
  background-color: #b6a99e;
  background-image: linear-gradient(315deg, #7a6b61 0%, #807368 20%, #8c7d71 40%, #a6998e 60%, #b6a99e 80%);
  margin: 1px;
  padding-bottom: 20vh;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 5em;
}

.list-card {
  padding: 100px;
}

.card-container,
.card-container2 {
  display: block;
  width: 180px;
  height: 240px;
  position: relative;
  perspective: 700;
  -webkit-perspective: 700;
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.card-toggle {
  display: block;
  position: relative;
  top: -1%;
  left: 40%;
  opacity: 0;
  height: 2em;
  width: 2em;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
}

.checkmark2 {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 40%;
  height: 2.5em;
  width: 2.5em;
  background-color: rgba(236, 236, 227, 0.4);
  border: 2px solid rgba(236, 236, 227, 0);
  box-shadow: 80px 60px 80px 240px rgba(236, 236, 227, 0.4);
  -webkit-transform: rotate(55deg);
  -ms-transform: rotate(55deg);
  transform: rotate(55deg);
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.checkmark2:after {
  display: block;
  left: 30%;
  top: 5%;
  width: 30%;
  height: 60%;
  border: solid rgb(255, 254, 216);
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-toggle:not(:checked) + .card-container .checkmark2,
.card-toggle:not(:checked) + .card-container .jto-mini-menu {
  opacity: 0;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:checked + .card-container .checkmark2,
.card-toggle:not(:checked) + .card-container .jto-mini-menu .jto-option {
  opacity: 1;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:hover .face {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-container:hover .front {
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  box-shadow: 0.5px 0 0 rgba(49, 47, 47, 0.349);
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(41, 39, 39, 0.1);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.card-toggle:checked + .card-container .jto-mini-menu {
  position: relative;
  top: 130%;
  left: -55%;
  width: 200%;
  padding: 5%;
  display: flex;
  background: rgb(48, 58, 69, 1);
  border-radius: 10px;
  justify-content: space-evenly;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-toggle:not(:checked) + .card-container .jto-counter {
  position: relative;
  top: 110%;
  left: -10%;
  width: 140%;
  padding: 5%;
  display: flex;
  color: rgb(48, 58, 69);
  justify-content: space-evenly;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-toggle:checked + .card-container .jto-counter {
  position: relative;
  top: 130%;
  left: -45%;
  width: 200%;
  padding: 5%;
  display: flex;
  color: rgb(48, 58, 69, 1);
  justify-content: space-evenly;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.card-toggle:not(:checked) + .card-container .fa-stack-text {
  font-size: 0em;
}

.card-toggle:checked + .card-container .fa-stack-text {
  padding-top: 0.15em;
  font-size: 0.6em;
}

.jto-counter {
  font-size: 1.8em;
}

.jto-counter .fas {
  position: relative;
}

/* .fa-stack-text {
  padding-top: 0.15em;
  font-size: 0.6em;
} */

.menu-option > a {
  text-decoration: none;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.7);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-option:hover > a {
  color: rgba(255, 255, 255);
  font-weight: bolder;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.front {
  width: 180px;
  height: 242px;
  background: rgb(248, 245, 245);
  box-shadow: 5px 3px 10px rgba(49, 47, 47, 0.349);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.front p,
.inner-left p {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.inner-left {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  z-index: 2;
}

.front > img {
  position: absolute;
  bottom: 5%;
  padding: 15%;
  height: 130px;
  width: 130px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -moz-backface-visibility: visible;
}

.inner-right > img {
  width: 180px;
  height: 240px;
}

.inner-left > p {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.inner-right {
  background: rgb(248, 245, 245);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}

.card-container:hover .front,
.card-container:hover .inner-left {
  -webkit-transform: rotateY(-35deg);
  transform: rotateY(-35deg);
}

.card-toggle:checked + .card-container .front img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.card-toggle:checked + .card-container .front,
.card-toggle:checked + .card-container .inner-left {
  box-shadow: -15px 5px 10px rgba(49, 47, 47, 0.349);
  border-right: none;
  -webkit-transform: rotateY(-165deg);
  transform: rotateY(-165deg);
  z-index: 1;
}

.card-toggle:checked + .card-container .inner-right {
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
  border-left: 1px solid rgba(247, 244, 244, 0.1);
  box-shadow: 10px 5px 5px rgba(49, 47, 47, 0.349);
}

.card-toggle:checked + .card-container .face {
  margin-left: 90px;
}

@media screen and (max-width: 1120px) {
  .public-cards {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .public-cards {
    grid-template-columns: 1fr;
  }
  .front > img {
    display: none;
  }
  .card-toggle:checked + .card-container .face {
    margin-left: 90px;
  }
}
