.jto-guide,
.jto-faqs {
  text-align: center;
  list-style-position: inside;
  margin-bottom: 7rem;
}

.jto-guide {
  text-align: justify;
}

.jto-faqs p {
  text-align: center;
}

.jto-guide .animated-h2,
.jto-faqs .animated-h2 {
  font-size: 2.3rem;
  margin-top: 5rem;
}

.jto-faqs p,
.jto-guide li,
.jto-guide p,
.jto-guide image {
  font-size: 1.2rem;
  max-width: 50rem;
  margin: auto;
  line-height: 2;
  -o-animation: fadeInUp 1s;
  -moz-animation: fadeInUp 1s;
  -webkit-animation: fadeInUp 1s;
  animation: fadeInUp 1s;
  -o-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.jto-list {
  margin: 4rem auto 8rem;
}

.jto-list > li {
  font-size: 1.5rem;
}

.jto-list > li,
.jto-list > ul {
  margin-bottom: 2rem;
}

.jto-list ul {
  list-style-type: none;
}

.jto-list,
ul {
  padding-left: 20px;
}

a,
.jto-faqs a,
.jto-guide a {
  color: rgb(48, 58, 69);
  text-decoration: underline;
  font-weight: bold;
}

.action a {
  color: rgb(248, 245, 245);
}

@media screen and (max-width: 700px) {
  .jto-guide {
    text-align: left;
  }
  .jto-guide .animated-h2,
  .jto-faqs .animated-h2 {
    font-size: 1.6rem;
    margin-top: 5rem;
  }
  .jto-faqs p {
    font-size: 1rem;
    text-align: center;
    max-width: 90%;
  }
  .jto-guide ol > li,
  .jto-guide p {
    font-size: 1.2rem;
    max-width: 90%;
  }
  .jto-guide ul > li {
    position: relative;
    left: -20px;
    font-size: 0.9rem;
    max-width: 90%;
  }
}
