@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

* {
  box-sizing: border-box;
}

h2 {
  text-align: center;
}

/* #modal {
    height: 100%;
    width: 100%;
} */

.username {
  /* style username */
}

.jto-landing,
.jto-nav-menu,
.jto-footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
