@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

* {
  box-sizing: border-box;
}

button,
a.action,
.download-btn {
  cursor: pointer;
  outline-width: 0px;
  color: rgb(48, 58, 69);
  font-family: "Montserrat", sans-serif;
  background: rgb(248, 245, 245);
  border: 2px solid rgb(48, 58, 69);
  border-radius: 5px;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.btn-add {
  cursor: pointer;
}

button.action:enabled:hover,
a.action:hover {
  background: rgb(48, 58, 69);
  background-color: rgb(48, 58, 69);
  border: 2px solid rgb(48, 58, 69);
  color: white;
}

button.action,
a.action {
  background-color: rgb(48, 58, 69);
  background: rgb(48, 58, 69, 0.9);
  color: #f8f5f5;
  border: 2px solid rgb(48, 58, 69, 0);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

button:active,
.download-btn:active {
  /* color: rgb(48, 58, 69);
  background: #f8f5f5;
  border: 2px solid rgb(48, 58, 69); */
  -moz-transform: scaleX(1.05);
  -o-transform: scaleX(1.05);
  -ms-transform: scaleX(1.05);
  transform: scaleX(1.05);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

input[type="file"] {
  /* create custom label and style said label */
}

button:disabled {
  color: rgb(48, 58, 69);
  background: rgb(48, 58, 69, 0.3);
  opacity: 0.5;
  border: 1px solid #4e4c4c;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-transition: none;
}

h1 {
  font-size: 4.5rem;
  font-weight: 300;
}

h1,
h2 {
  text-align: center;
  color: rgb(48, 58, 69);
}

h3 {
  color: rgb(48, 58, 69);
}

h2 {
  font-weight: 300;
}
h1::selection,
h2::selection,
h3::selection,
p::selection,
b::selection,
span::selection {
  background: rgb(48, 58, 69);
  background-color: rgb(48, 58, 69);
  color: #f8f5f5;
}
a::selection {
  background: rgb(48, 58, 69);
  background-color: rgb(48, 58, 69);
  color: #f8f5f5;
}
.main-logo {
  max-width: 35%;
  margin-bottom: 10rem;
  height: auto;
}

fieldset {
  border: none;
}

.username {
  /* style username */
}

.jto-home {
  font-family: "Montserrat", sans-serif;
}

.jto-landing,
.jto-nav-menu,
.jto-footer {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

body,
.jto-main {
  background: rgb(248, 245, 245);
  background-color: rgb(248, 245, 245);
}

.info-vector {
  max-width: 40%;
  margin-left: 30%;
}

/* key icon */

.lock {
  margin: 2em auto 0;
  width: 1.25em;
  height: 1em;
  line-height: 1em;
  border-radius: 10%;
  background-image: linear-gradient(to right, gold, orange);
  position: relative;
  text-align: center;
}

.lock::before {
  content: "";
  display: block;
  width: 0.875em;
  height: 0.75em;
  border-radius: 40% 40% 0 0;
  border: 0.2em solid #aaa;
  border-bottom: none;
  box-sizing: border-box;
  position: absolute;
  top: -0.75em;
  left: 0.2em;
}

.key-hole {
  display: inline-block;
  position: relative;
  top: -15%;
  width: 0.25em;
  height: 0.25em;
  border-radius: 100%;
  background-color: #000;
}

.key-hole::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 0.125em solid transparent;
  border-bottom: 0.35em solid #000;
}

#preview-btn {
  width: auto;
  height: auto;
  padding: 0.8rem;
  margin: 1.5rem;
}

#preview-btn:active {
  animation: none;
}

input[type="text"],
textarea {
  border: 1px solid rgb(48, 58, 69);
  text-indent: 5px;
  border-radius: 2px;
  padding: 5px;
}

input[type="radio"] {
  border-bottom-color: rgb(48, 58, 69);
  width: 1.3rem;
  height: 1.3rem;
}

p {
  font-size: 1.2rem;
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 3.5rem;
  }
}
