* {
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

/* #modal {
    height: 100%;
    width: 100%;
} */

.username {
    /* style username */
}

.jto-landing {
    text-align: center;
}

.active {
    border: 2px solid blue;
}

.active-auth {
    border: 2px solid green;
}