/* Loader utility */
/* /////////////////////////////// */
/* fade in and in, 2 second animation cycle */

/* Required utility  */
/* ////////////////////////////// */
/* surround by circle, or add "pop/lines coming out" when this changes */
.required {
  color: rgb(199, 58, 48);
}

.met {
  color: rgb(48, 199, 81);
}

/* Notification utility  */
/* //////////////////////////// */
div[id="200"],
div[id="201"] {
  /* green checkmark in center */
  background: rgb(33, 170, 86, 0.9);
  border: 2px solid rgb(33, 170, 86);
  color: white;
}

div[id="204"] {
  background: rgba(33, 138, 170, 0.9);
  border: 2px solid rgb(33, 127, 170);
  color: white;
}

div[id="400"],
div[id="403"],
div[id="404"],
div[id="413"] {
  /* green checkmark in center */
  background: rgba(170, 33, 74, 0.37);
  border: 2px solid rgb(177, 30, 74);
  color: white;
}

/* Menu Options utilities */
/* ////////////////////////////// */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background-color: rgb(204, 204, 204, 0.3);
  border: 1px solid rgba(46, 44, 44, 0.4);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(204, 204, 204, 0.6);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(204, 204, 204, 0.3);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 35%;
  top: 5%;
  width: 30%;
  height: 60%;
  border: solid rgb(33, 170, 86, 0.9);
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  position: absolute;
  top: 40%;
  left: 20%;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  border: 2px solid rgb(223, 233, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.btn:hover {
  background: rgb(223, 233, 243);
  border: 2px solid #0060a4;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.btn > * {
  color: rgb(223, 233, 243);
}
.btn:hover > * {
  color: #0060a4;
}

/* pagination  */
/* ///////////////////// */
.jto-page-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.jto-page-menu .page-menu-counter {
  font-size: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
  font-size: 1.7em;
  width: 2em;
  height: 1.5em;
}

.public-card .jto-page-menu,
.private-card .jto-page-menu {
  margin-right: 2em;
}

.public-card .page-btn,
.private-card .page-btn {
  width: 5.5em;
  height: 3em;
}

/* skeleton loader */

:root {
  --card-padding: 20px;
  --card-height: 240px;
  --card-skeleton: linear-gradient(rgb(248, 245, 245) var(--card-height), transparent 0);
  --card-fade1: linear-gradient(rgb(224, 218, 218) var(--title-height), transparent 0);
  --card-fade2: linear-gradient(rgb(199, 194, 194) var(--title-height), transparent 0);
  --pic-size: 130px;
  --pic-height: 130px;
  --pic-position: 25px 70px;
  --pic-skeleton: linear-gradient(rgb(199, 194, 194) var(--pic-size), transparent 0);
  --title-height: 20px;
  --title-width: 140px;
  --title-position: var(--card-padding) 10px;
  --title-skeleton: linear-gradient(rgb(199, 194, 194) var(--title-height), transparent 0);
  --title-skeleton-fade1: linear-gradient(rgb(224, 218, 218) var(--title-height), transparent 0);
  --title-skeleton-fade2: linear-gradient(rgb(248, 245, 245) var(--title-height), transparent 0);
  --desc-line-height: 0px;
  --desc-line-skeleton: linear-gradient(rgb(199, 194, 194) var(--desc-line-height), transparent 0);
  --desc-line-1-width: 230px;
  --desc-line-1-position: var(--card-padding) 130px;
  --desc-line-2-width: 180px;
  --desc-line-2-position: var(--card-padding) 150px;
  --footer-height: 0px;
  --footer-position: 0 calc(var(--card-height) - var(--footer-height));
  --footer-skeleton: linear-gradient(rgb(199, 194, 194) var(--footer-height), transparent 0);
  --blur-width: 200px;
  --blur-size: var(--blur-width) calc(var(--card-height) - var(--footer-height));
}

/*
 * Card Skeleton for Loading
 */
.skeleton-card {
  position: relative;
  box-sizing: content-box;
  margin: 100px;
  width: 200px;
  top: -200px;
  left: -120px;
  height: var(--card-height);
  perspective: 700;
  -webkit-perspective: 700;
  -webkit-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skeleton-card-inside {
  background: rgb(248, 245, 245);
  border: 1px solid rgba(41, 39, 39, 0.1);
  position: relative;
  top: 30px;
  left: -100px;
  /* margin: 100px; */
  width: 180px;
  height: 222px;
  perspective: 700;
  -webkit-perspective: 700;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.skeleton-nav {
  position: relative;
  background: #2f3a44;
  border: 1px solid rgba(41, 39, 39, 0.1);
  position: relative;
  top: -130px;
  left: -100px;
  margin: auto;
  width: 180px;
  height: 25px;
  border-radius: 10px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.loader {
  padding: 100px;
  padding-bottom: 320px;
}

.loader .spacer {
  display: block;
  margin: 100px;
}

.skeleton-card:empty::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  box-shadow: 5px 3px 10px rgba(49, 47, 47, 0.349);
  border: 1px solid rgba(41, 39, 39, 0.1);
  background-image: linear-gradient(
      90deg,
      rgb(248, 245, 245, 0) 0,
      rgba(248, 245, 245, 0) 50%,
      rgb(248, 245, 245, 0) 100%
    ),
    var(--title-skeleton), var(--pic-skeleton), var(--footer-skeleton), var(--card-skeleton);
  background-size: var(--blur-size), var(--title-width) var(--title-height), var(--pic-size) var(--pic-size),
    100% var(--footer-height), 100% 100%;
  background-position: -150% 0, var(--title-position), var(--pic-position), var(--footer-position), 0 0;
  background-repeat: no-repeat;
  -o-animation: loading 1.5s infinite;
  -moz-animation: loading 1.5s infinite;
  -webkit-animation: loading 1.5s infinite;
  animation: loading 1.5s infinite;
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  perspective: 700;
  -webkit-perspective: 700;
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
  margin: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.revolving-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.revolving-header .word-column-wrapper,
.revolving-header .double-arrow {
  font-weight: bold;
  font: normal 20px/30px Montserrat, sans-serif;
}

.word-column-wrapper,
.double-arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.word-column-wrapper {
  overflow: hidden;
  position: relative;
  height: 30px;
  top: 0;
}

.double-arrow {
  position: relative;
  height: 30px;
  /* float: left; */
  font-weight: bold;
  margin-right: 0.3em;
  top: -20px;
}

.word-column span {
  font-weight: bold;
}

.word-column {
  display: inline-block;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  white-space: nowrap;
  top: 30px;
  left: 0;

  /*animation*/
  -webkit-animation: move 8s ease-in;
  -moz-animation: move 8s ease-in;
  -ms-animation: move 8s ease-in;
  -o-animation: move 8s ease-in;
  /* animation: move 8s cubic-bezier(0.3, 1, 0.6, 1.3); */
  animation: move 8s ease;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.loading span {
  -webkit-animation: loadQuotes 1.4s infinite;
  -moz-animation: loadQuotes 1.4s infinite;
  -ms-animation: loadQuotes 1.4s infinite;
  -o-animation: loadQuotes 1.4s infinite;
  animation: loadQuotes 1.4s infinite;
  -ms-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.loading span:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -ms-animation-delay: 0.2s;
  -o-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.loader span:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  -ms-animation-delay: 0.4s;
  -o-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

@-webkit-keyframes move {
  10% {
    top: 30px;
  }
  40% {
    top: 0px;
  }
  69% {
    top: -30px;
  }
}
@-moz-keyframes move {
  10% {
    top: 30px;
  }
  40% {
    top: 0px;
  }
  69% {
    top: -30px;
  }
}
@-o-keyframes move {
  10% {
    top: 30px;
  }
  40% {
    top: 0px;
  }
  69% {
    top: -30px;
  }
}

@keyframes move {
  10% {
    top: 30px;
  }
  40% {
    top: 0px;
  }
  69% {
    top: -30px;
  }
}

@-webkit-keyframes loadQuotes {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-moz-keyframes loadQuotes {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes loadQuotes {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes loadQuotes {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
