/* Loader utility */
/* /////////////////////////////// */
/* fade in and out, 2 second animation cycle */

/* Required utility  */
/* ////////////////////////////// */
/* surround by circle, or add "pop/lines coming out" when this changes */
.required {
  color: rgb(199, 58, 48);
}

.met {
  color: rgb(48, 199, 81);
}

/* Notification utility  */
/* //////////////////////////// */
div[id="200"],
div[id="201"] {
  /* green checkmark in center */
  background: rgb(33, 170, 86, 0.9);
  border: 2px solid rgb(33, 170, 86);
}

div[id="400"],
div[id="403"],
div[id="404"],
div[id="413"] {
  /* green checkmark in center */
  background: rgba(170, 33, 74, 0.37);
  border: 2px solid rgb(177, 30, 74);
}

/* Menu Options utilities */
/* ////////////////////////////// */
/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  height: 2em;
  width: 2em;
  background-color: rgb(204, 204, 204, 0.3);
  border: 1px solid rgba(46, 44, 44, 0.4);
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgb(204, 204, 204, 0.6);
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(204, 204, 204, 0.3);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 35%;
  top: 5%;
  width: 30%;
  height: 60%;
  border: solid rgb(33, 170, 86, 0.9);
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn {
  position: absolute;
  top: 40%;
  left: 20%;
  border-radius: 50%;
  width: 5em;
  height: 5em;
  border: 2px solid rgb(223, 233, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}
.btn:hover {
  background: rgb(223, 233, 243);
  border: 2px solid #0060a4;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
}

.btn > * {
  color: rgb(223, 233, 243);
}
.btn:hover > * {
  color: #0060a4;
}

/* pagination  */
/* ///////////////////// */
.jto-page-menu ul {
list-style-type: none;
display: flex;
justify-content: center;
}

.jto-page-menu .page-menu-counter {
  font-size: 2em;
  width: 2em; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn {
font-size: 2em;
width: 2em;
height: 1.5em;
}