.search-form,
.btn-add {
  -o-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  -o-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

.search-fields {
  border: 2px solid rgb(48, 58, 69);
  width: 60%;
  margin-left: 20%;
  border-radius: 5px;
}

.search-term,
.user-search-term,
.sort-by,
.user-sort-by,
.theme-select,
.user-theme-select {
  width: 100%;
  padding: 1rem;
  margin: 1.5rem auto 1.5rem 0;
}

.search-term {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-template-areas: ". termL term .";
}
.search-term legend,
.sort-by legend,
.theme-select legend,
.user-search-term legend,
.user-sort-by legend,
.user-theme-select legend {
  position: absolute;
  text-align: left;
  font-weight: bold;
  font-size: 1.4rem;
  left: -9.5rem;
  top: 25%;
}
.search-term input,
.user-search-term input {
  width: 100%;
  height: 2rem;
}
.sort-by {
  position: relative;
  /* text-align: initial;
  display: flex;
  flex-direction: row; */
}

.sort-fields {
  display: flex;
  justify-content: space-evenly;
}
.theme-select {
  position: relative;
}

.theme-select select,
.user-theme-select select {
  width: 100%;
  height: 2rem;
}
.user-search-term {
  position: relative;
}
.user-sort-by {
  position: relative;
}
.user-theme-select {
  position: relative;
}
.browse-btn {
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .search-fields {
    border: none;
    width: 90%;
    margin-left: 5%;
    border: 2px solid rgb(48, 58, 69);
  }
  .search-term legend,
  .sort-by legend,
  .theme-select legend,
  .user-search-term legend,
  .user-sort-by legend,
  .user-theme-select legend {
    position: initial;
    text-align: center;
  }
  .search-term,
  .user-search-term,
  .theme-select,
  .user-theme-select {
    border-bottom: 2px solid rgb(48, 58, 69);
  }
}
