header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #f8f5f5;
}

.jto-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.active {
  background: rgb(92, 194, 219);
}

.active-auth {
  background: rgb(92, 219, 130);
}

.jto-nav-menu a {
  text-decoration: none;
}

.jto-footer {
  display: flex;
  justify-content: center;
}
