header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #f8f5f5;
}

.jto-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1em;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.active h3 {
  text-decoration: underline;
}

.active img {
  /* -o-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s; */
  -o-animation: heartBeat 0.3s;
  -moz-animation: heartBeat 0.3s;
  -webkit-animation: heartBeat 0.3s;
  animation: heartBeat 0.3s;
}

.active-auth {
  text-decoration: underline;
}

.jto-nav-menu a {
  text-decoration: none;
}

.jto-footer {
  display: flex;
  justify-content: center;
}
