header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #f8f5f5;
}

.jto-nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.link-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 85%;
  margin-right: 0;
  margin-left: 15%;
  /* border: 2px solid black; */
}

.auth-link {
  margin-left: 10%;
}

.jto-nav-menu .logo-link {
  margin-left: 100%;
  opacity: 0.6;
  padding: 0.5rem;
  border: 2px dashed rgb(48, 58, 69);
  border-radius: 50%;
}

.jto-nav-menu .active .logo-link {
  opacity: 1;
  border: 2px solid rgb(48, 58, 69);
}

.jto-nav-menu h3 {
  color: rgb(81, 90, 100, 0.8);
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.jto-nav-menu div h3 {
  color: rgb(48, 58, 69);
}

.active h3 {
  color: rgb(48, 58, 69);
  font-weight: bold;
  text-decoration: underline;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}

.logo-link:active {
  -o-animation: heartBeat 0.3s;
  -moz-animation: heartBeat 0.3s;
  -webkit-animation: heartBeat 0.3s;
  animation: heartBeat 0.3s;
}

.active-auth {
  text-decoration: underline;
}

.jto-nav-menu a {
  text-decoration: none;
}

.jto-footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  /* .link-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    border: 1px solid black;
    width: 85%;
    padding-left: 2rem;
    height: 50vh;
    margin-right: 0;
    margin-left: 15%;
  } */
  /* align to column, do fullscreen click modal */
}
