@import url("https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap");

body {
  margin: 0;
  /* font-family: 'Amatic SC', cursive; */
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(48, 58, 69);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
