.jto-reactions .far,
.jto-reactions .fas {
  font-size: 3rem;
}

.heart-button {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 3rem;
  line-height: 2rem;
  vertical-align: middle;
}

.jto-reactions #body,
.jto-reactions #border {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.jto-reactions #body {
  font-size: 2.4rem;
  top: 11%;
  left: 16%;
}

.jto-reactions #border {
  font-size: 3rem;
}

.jto-reactions .fas span {
  font-size: 0;
}

.jto-reactions .fa-file-download:empty {
  color: rgb(47, 58, 68);
  opacity: 0.25;
}

.jto-reactions .fa-file-download,
.jto-reactions .fa-comment-alt {
  color: rgb(47, 58, 68);
}

.jto-reactions .fa-file-download:active,
.jto-reactions .fa-comment-alt:active {
  -o-animation: heartBeat 0.3s;
  -moz-animation: heartBeat 0.3s;
  -webkit-animation: heartBeat 0.3s;
  animation: heartBeat 0.3s;
}

.jto-reactions #border:empty {
  /* make white or background color */
  color: #2f3a44;
}

.jto-reactions #body:empty {
  /* make white or background color */
  color: rgb(144, 155, 161);
}

.jto-reactions .fa-heart {
  color: rgb(192, 32, 72);
}

.share {
  position: relative;
  outline-width: 0;
  height: 2.8rem;
  width: 2rem;
  background: rgb(0, 168, 249);
  background: radial-gradient(circle, rgba(0, 168, 249, 1) 0%, rgba(0, 97, 238, 1) 100%);
  color: rgba(0, 0, 0, 0);
  border: 2px solid black;
}

.share:empty {
  background: none;
}

.beat {
  -o-animation: heartBeat 0.3s;
  -moz-animation: heartBeat 0.3s;
  -webkit-animation: heartBeat 0.3s;
  animation: heartBeat 0.3s;
}

@-webkit-keyframes heartBeat {
  0% {
    -webkit-filter: blur();
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes heartBeat {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-filter: blur(1px);
    filter: blur(1px);
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes heartBeat {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-filter: blur(1px);
    filter: blur(1px);
    -o-transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    filter: blur(1px);
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
