.front {
  max-height: 500px;
  max-width: 400px;
}

.inside {
  max-height: 350px;
  max-width: 350px;
}

form,
.jto-privacy {
  text-align: center;
  width: 100%;
}

.frontMessage {
  /* height: ; */
}

form button,
.jto-privacy button {
  width: 100%;
}
