.front {
  max-height: 500px;
  max-width: 400px;
}

.inside {
  max-height: 350px;
  max-width: 350px;
}

form {
text-align: center;
width: 100%;
}

.frontMessage {
  /* height: ; */
}

form button {
 width: 100%;
}